/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUMBERS 1
#define SYMBOLS 2
#define MEDIA   3
#define ACTIONS 4


&lt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
    require-prior-idle-ms = <125>;
};

&mt {
    tapping-term-ms = <200>;
    flavor = "hold-preferred";
};

/ {
        behaviors {
                td_shift_caps: tap_dance_mod_tap_shift_caps {
                compatible = "zmk,behavior-tap-dance";
                #binding-cells = <0>;
                tapping-term-ms = <200>;
                bindings = <&mt LSHIFT CAPSLOCK>, <&kp CAPSLOCK>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | ESC        |  Q  |  W  |  E    |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
// | TAB        |  A  |  S  |  D    |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  RET |
// | SHFT, CAPS |  Z  |  X  |  C    |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | '    |
//                          | LCTRL | LWR | GUI |   | SPC | RSE  | ALT |
                        bindings = <
   &lt ACTIONS ESC   &kp Q   &kp W     &kp E &kp R    &kp T   &kp Y      &kp U  &kp I      &kp O    &kp P     &kp BSPC
   &kp TAB           &kp A   &kp S     &kp D &kp F    &kp G   &kp H      &kp J  &kp K      &kp L    &kp SEMI  &kp RET
   &td_shift_caps    &kp Z   &kp X     &kp C &kp V    &kp B   &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH  &mt RSHFT SQT
                             &kp LCTRL &mo 2 &kp LGUI         &kp SPACE  &mo 1  &kp RALT
                        >;
                };
                num_layer {
// -----------------------------------------------------------------------------------------
// | ESC        |  1  |  2  |  3    |  4  |  5   |   |  6  |  7  |  8  |  9  |  0  | BSPC |
// | TAB        |     |     |       |     |      |   |     |     |  UP |     |     | RET  |
// | SHFT, CAPS |     |     |       |     |      |   |     | LFT | DWN | RGT |     |      |
//                          | LCTRL |     | LGUI |   | SPC |     | ALT |
                        bindings = <
   &kp ESC          &kp N1   &kp N2   &kp N3     &kp N4   &kp N5        &kp N6     &kp N7    &kp N8    &kp N9     &kp N0  &kp BSPC
   &kp TAB          &none    &none    &none      &none    &none         &none      &none     &kp UP    &none      &none   &kp RET
   &td_shift_caps   &none    &none    &none      &none    &none         &none      &kp LEFT  &kp DOWN  &kp RIGHT  &none   &mt RSHFT SQT
                                      &kp LCTRL  &mo 3   &kp LGUI      &kp SPACE  &trans     &kp RALT
                        >;
                };

                symbols_layer {
// -----------------------------------------------------------------------------------------
// | ESC  |  !  |  @  |  #    |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// | TAB  |     |     |       |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |       |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | LCTRL |     | GUI |   | SPC |     | ALT |
                        bindings = <
   &kp ESC          &kp EXCL  &kp AT     &kp HASH   &kp DLLR   &kp PRCNT     &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp BSPC
   &kp TAB          &none     &none      &none      &none      &none         &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &kp GRAVE
   &td_shift_caps   &none     &none      &none      &none      &none         &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp PIPE &kp TILDE
                                         &kp LCTRL  &trans      &kp LGUI      &kp SPACE   &mo 3    &kp RALT
                        >;
                };

                media_layer {
// ---------------------------------------------------------------------------------------------
// | ESC  | BT0 | BT1 | BT2   | BT3      | BT4 |   |       |      |        |          |     |      |
// | TAB  |     |     |       | C_BRI_UP |     |   |  RW   | PREV | PLAY   | NEXT     |  FF | STOP |
// | SHFT |     |     |       | C_BRI_DN |     |   |       | REPT | SHUFLE | CAPTIONS |     |      |
//                    | LCTRL |     | LGUI     |   | SPACE |      | ALT    |
                        bindings = <
   &kp ESC          &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4     &none      &kp C_VOL_DN  &kp C_MUTE     &kp C_VOL_UP     &none     &bt BT_CLR
   &kp TAB          &none         &none         &none         &kp C_BRI_UP  &none            &kp C_RW   &kp C_PREV    &kp C_PP       &kp C_NEXT       &kp C_FF  &kp C_STOP
   &td_shift_caps   &none         &none         &none         &kp C_BRI_DN  &none            &none      &kp C_REPEAT  &kp C_SHUFFLE  &kp C_CAPTIONS   &none     &none
                                                &kp LCTRL     &trans        &kp LGUI         &kp SPACE  &trans        &kp RALT
                        >;
                };

                 actions_layer {
// ---------------------------------------------------------------------------------------------
// |      |     |     |     |     |       |   | F1 | F2 | F3 | F4  | F5  | F6  |
// |      |     |     |     |     |       |   | F7 | F8 | F9 | F10 | F11 | F12 |
// |      |     |     |     |     |       |   |    |    |    |     |     |     |
//                    |     |     | SLEEP |   |    |    |    |
                        bindings = <
   &trans   &none  &none  &none  &none   &none          &kp F1   &kp F2   &kp F3    &kp F4   &kp F5    &kp F6
   &none    &none  &none  &none  &none   &none          &kp F7   &kp F8   &kp F9    &kp F10  &kp F11   &kp F12
   &none    &none  &none  &none  &none   &none          &none    &none    &none     &none    &none     &none
                          &none  &trans  &kp C_SLEEP    &none    &none   &none
                        >;
                };
        };
};